
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Es gibt im Internet Dienste, die Styles zur verfügung stellen. Bsp. Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <header>
        <img src="bank-4-48.png">
        <p></p>
        <a href="Hilfe"> <button><i class="fa-solid fa-phone-volume"></i>Hilfe</button></a>
        <a href="Profil"><i class="fa-regular fa-user"></i>Mein Profil</a>
        <a href="Postfach"><i class="fa-solid fa-inbox"></i>Zum Postfach</a>
        <a href="Index"><button><i class="fa-solid fa-house-chimney"></i>Zur Startseite</button></a>
        <a href="logout"><button><i class="fa-solid fa-right-from-bracket"></i>Logout</button></a>
    </header>
    <h2>Algemeine Geschäftsebingungen (AGB) für die Nutzung der Banking App</h2>
    <ol>
        <li><h2>Nutzung der Banking App</h2>  Die Nutzung der Banking App ist ausschließlich für Kunden der Bank Deuten vorgesehen. Die App ermöglicht es den Kunden, ihre Konten und Transaktionen einzusehen sowie Überweisungen zu tätigen.</li>
        <li><h2>Sicherheit</h2> Die Sicherheit der Daten unserer Kunden hat für uns oberste Priorität. Die App nutzt modernste Verschlüsselungstechnologien, um die Sicherheit der Daten zu gewährleisten. Kunden sind verpflichtet, ihre Zugangsdaten streng vertraulich zu behandeln und nicht an Dritte weiterzugeben.</li>
        <li><h2>Kontoverwaltung</h2> Die Kunden haben die Möglichkeit, ihre Konten, Kreditkarten und Transaktionen über die App zu verwalten. Sie können Überweisungen, Daueraufträge und andere Transaktionen durchführen. Die Bank übernimmt keine Haftung für fehlerhafte oder unautorisierte Transaktionen, die durch die Kunden veranlasst wurden.</li>
        <li><h2>Verfügbarkeit</h2> Die Banking App steht den Kunden rund um die Uhr zur Verfügung. Die Bank behält sich jedoch das Recht vor, Wartungsarbeiten durchzuführen oder die App vorübergehend außer Betrieb zu nehmen. Die Kunden werden über solche Maßnahmen rechtzeitig informiert.</li>
        <li><h2>Haftung</h2> Die Bank übernimmt keine Haftung für Schäden, die durch die Nutzung der App entstehen. Die Kunden sind selbst dafür verantwortlich, ihre Geräte vor Viren und Malware zu schützen. Die Bank haftet nicht für Schäden, die durch unautorisierte Zugriffe oder Manipulationen Dritter verursacht werden.</li>
        <li><h2>Änderungen der AGB</h2> Die Bank behält sich das Recht vor, diese AGB jederzeit zu ändern. Die Kunden werden über Änderungen rechtzeitig informiert. Die Nutzung der App nach Inkrafttreten neuer AGB gilt als Zustimmung zu den geänderten Bedingungen.</li>
        <li><h2>Datenschutz</h2> Die Bank verpflichtet sich, die Datenschutzbestimmungen einzuhalten und die Daten der Kunden vertraulich zu behandeln. Die Kunden haben das Recht, Auskunft über die gespeicherten Daten zu erhalten und gegebenenfalls deren Löschung zu verlangen.</li>
    </ol>
    <p></p>
    Mit der Nutzung der Banking App erklären sich die Kunden mit diesen AGB einverstanden.
    <p></p>
    Stand: 09.04.2024
    <footer>
        <h2>Hier können sie uns finden</h2>
        <p></p>
        <i class="fa-brands fa-instagram"></i>Instagram: ...
        <p></p>
        <i class="fa-brands fa-facebook"></i>Facebook: ...
        <p></p>
        <a href="https://www.bank-deuten.de">Zur Homepage</a>
        <p></p>
        <i class="fa-solid fa-house"></i>Geschäftssitz: Unter den Palmen 44 Euten
        <p></p>
        <i class="fa-solid fa-envelope"></i>Email: bank.deuten@stonks.com
        <p></p>
        <i class="fa-solid fa-square-phone"></i>Telefon: +49 168 2045510
    </footer>
</body>
</html>
