<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geld anlegen</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Es gibt im Internet Dienste, die Styles zur verfügung stellen. Bsp. Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <header>
        <i class="fa-solid fa-building-columns"></i>
        <p></p>
        <a href="Hilfe"> <button><i class="fa-solid fa-phone-volume"></i>Hilfe</button></a>
        <a href="Postfach"><i class="fa-solid fa-inbox"></i>Zum Postfach</a>
        <a href="AGB"><i class="fa-solid fa-folder"></i>Zu den AGBs</a>
        <a href="Index"><button><i class="fa-solid fa-house-chimney"></i>Zur Startseite</button></a>
        <a href="logout"><button><i class="fa-solid fa-right-from-bracket"></i>Logout</button></a>
    </header>
<main>
    <h1>Geld anlegen</h1>

    <h2>Geben sie hier ihren Wunschbetrag an, um auszurechen, wie viele Zinsen sie nach der gewünschten Laufzeit bekommen werden.</h2>

    <!--Hier kommt das Formular hin-->
    <form method="post">
        <!--Das Lable zeigt dem Kunden Text im Formular an.-->
        <label for="Betrag"><br>
            Betrag: 
            <!--Das Eingabefeld hat den type number, womit die die eingabe von Zahlen erzwungen wird.-->
            <!--Der Name heist Betrag, der Server greift über den Namen auf das Input zu.-->
            <input name="Betrag" type="number"
            min="1" value=<%= Betrag%>>
            €
    </label>
        <label for="Laufzeit"><br>
            Laufzeit:
            <input name="Laufzeit" type="number"
            step="1" min="1"
            inputmode="latin" value=<%= Laufzeit%>>
            Jahr/e
        </label>
        <p></p>
        <button type="submit" formaction="Geldanlegen">Zinsen berechnen</button>
    </form>
    <p><%=Meldung%></p>
</main>
<footer>
        <h2>Hier können sie uns finden</h2>
        <p></p>
        <i class="fa-brands fa-instagram"></i>Instagram: ...
        <p></p>
        <i class="fa-brands fa-facebook"></i>Facebook: ...
        <p></p>
        <a href="https://www.bank-deuten.de">Zur Homepage</a>
        <p></p>
        <i class="fa-solid fa-house"></i>Geschäftssitz: Unter den Palmen 44 Euten
        <p></p>
        <i class="fa-solid fa-envelope"></i>Email: bank.deuten@stonks.com
        <p></p>
        <i class="fa-solid fa-square-phone"></i>Telefon: +49 168 2045510
    </footer>
</body>
</html>