
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank-Deuten</title>
    <!--die style.css muss in allen Dateien verlinkt werden-->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Es gibt im Internet Dienste, die Styles zur verfügung stellen. Bsp. Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    
</head>
<body>
    <header>
<img src="bank-4-48.png">
<p></p>
<a href="Hilfe.ejs"> <button><i class="fa-solid fa-phone-volume"></i>Hilfe</button></a>
<a href="Profil.ejs"><i class="fa-regular fa-user"></i>Mein Profil</a>
<a href="Postfach.ejs"><i class="fa-solid fa-inbox"></i>Zum Postfach</a>
<a href="AGB.ejs"><button><i class="fa-solid fa-folder"></i>Zu den AGBs</button></a>

    </header>
    <p></p>
    <div class="flex-container">
        <div><a href="Kontenuebersicht.html">Kontenübersicht</a></div> 
        <div><a href="ueberweisung.html">Überweisung ausführen</a></div>
        <div><a href="Geldanlegen.html">Geld anlegen</a></div>
        <div><a href="Geldanlegen.html">Geld anlegen</a></div>
        <div><a href="Kredit.html">Kredit beantragen</a></div>
    </div>
<p></p>
<h2>Unsere Ansprechpartner</h2>
Andre Anker
<img src="businessman-24 (1).png">
<p></p>
Email:andre@anker-bankdeuten.com
<p></p>
Telefon:+49 245 199845
    <footer>
<h2>Hier können sie uns finden</h2>
<p></p>
<i class="fa-brands fa-instagram"></i>Instagram: ...
<p></p>
<i class="fa-brands fa-facebook"></i>Facebook: ...
<p></p>
<a href="https://www.bank-deuten.de">Zur Homepage</a>
<p></p>
<i class="fa-solid fa-house"></i>Geschäftssitz: Unter den Palmen 44 Euten
<p></p>
<i class="fa-solid fa-envelope"></i>Email: bank.deuten@stonks.com
<p></p>
<i class="fa-solid fa-square-phone"></i>Telefon: +49 168 2045510
    </footer>
</body>
</html>
