<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
  <header>
    <i class="fa-solid fa-building-columns"></i>
  </header>
    <h1>Wilkommen bei der Bank Deuten</h1>
    <form action="#.ext" method="post">
       <label for="email oder Benutzername">Email oder Benutzername: </label>
       <input
         required
         type = "text"
         id = "benutzername"
         name = "benutzername"
         inputmode = "numeric"
         pattern = "[0-9]{5}"
         placeholder = "name@gmail.com"
         title = "Benutzername" >
      </form>
      <form action="#.ext" method="post">
       <label for="plz"> Paswort</label>
       <input
         required
         type="password"
         id = "plz"
         name = "plz"
         inputmode = "numeric"
         pattern = "[0-9]{5}"
         placeholder = "12345"
         title="Paswort 5-12 Zeichen" >
         
      </form>
      <form>
        <p></p>
Besuchen sie gerne unsere Homepage
<footer>
    <h2>Hier können sie uns finden</h2>
    <p></p>
    <i class="fa-brands fa-instagram"></i>Instagram: ...
    <p></p>
    <i class="fa-brands fa-facebook"></i>Facebook: ...
    <p></p>
    <a href="https://www.bank-deuten.de">Zur Homepage</a>
    <p></p>
    <i class="fa-solid fa-house"></i>Geschäftssitz: Unter den Palmen 44 Euten
    <p></p>
    <i class="fa-solid fa-envelope"></i>Email: bank.deuten@stonks.com
    <p></p>
    <i class="fa-solid fa-square-phone"></i>Telefon: +49 168 2045510
        </footer>
</body>
</html>