<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
  <header>
    <i class="fa-solid fa-building-columns"></i>
  </header>
    <h1>Wilkommen bei der Bank Deuten</h1>
    <form  method="post">
       <label for="email oder Benutzername">Email oder Benutzername: </label>
       <input
         required
         id = "benutzername"
         name = "IdKunde"
        
         placeholder = "name@gmail.com"
         title = "Benutzername" >
      </form>
      <form  method="post">
       <label for="plz"> Passwort</label>
       <!--Type="password" maskiert die Eingabe mit Sternchen-->
       <input
         required
         type="password"
         id = "plz"
         name = "Passwort"
         placeholder = "12345"
         title="Passwort 5-12 Zeichen"
         maxlength="12" 
         >
        <p><button formaction="/login">Einloggen</button></p> 
      </form>
      <form>
        <p><%= Meldung %></p>
Besuchen sie gerne unsere Homepage!
<footer>
    <h2>Hier können sie uns finden</h2>
    <p></p>
    <i class="fa-brands fa-instagram"></i>Instagram: ...
    <p></p>
    <i class="fa-brands fa-facebook"></i>Facebook: ...
    <p></p>
    <a href="https://www.bank-deuten.de">Zur Homepage</a>
    <p></p>
    <i class="fa-solid fa-house"></i>Geschäftssitz: Unter den Palmen 44 Euten
    <p></p>
    <i class="fa-solid fa-envelope"></i>Email: bank.deuten@stonks.com
    <p></p>
    <i class="fa-solid fa-square-phone"></i>Telefon: +49 168 2045510
        </footer>
</body>
</html>